<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <img src="https://e7.pngegg.com/pngimages/463/58/png-clipart-communication-computer-network-information-technology-internet-of-things-internet-of-things-angle-electronics.png" alt="logo" height="75" width="150">
            <% if(status==0) { %>
                <div class="alert alert-warning" role="alert">
                    Complete todos los campos
                </div>
                <% } %>
        </div>
        <div class="modal-body">
            <form role='form'>
                <!-- method='POST' action='http://localhost:8080/api/productos/' -->
                <div class="form-group">
                    <label for="title">Producto</label>
                    <input type="text" class="form-control" id="title" placeholder="Producto" name="title">
                </div>
                <div class="form-group">
                    <label for="price">Precio</label>
                    <input type="text" class="form-control" id="price" placeholder="Precio" name="price">
                </div>
                <div class="form-group">
                    <label for="thumbnail">Icono</label>
                    <input type="text" class="form-control" id="thumbnail" placeholder="URL" name="thumbnail">
                </div>
                <button type="text" class="btn btn-primary" id="submitProduct">Submit</button>
            </form>
        </div>
    </div>
</div>