<div class="modal-dialog">
    <div class="modal-content">

        <div class="modal-header">
            <img src="https://cdn0.iconfinder.com/data/icons/small-n-flat/24/678110-sign-info-128.png" alt="logo" height="50">
            <h2>Process Info</h2>
        </div>
        <div class="modal-body">
           <h1>Array Random</h1>
            <p><%= randomArray %></p>
        </div>
    </div>
</div>